@use "uswds-core" as *;

.vha-button {
    &--width-auto {
        width: auto;
    }
    &--pubs-carousel {
        width: 48px !important;
        height: 48px !important;
        font-size: 24px !important;
        // background-color: #3559A5 !important;
        padding: 0 !important;
    }

}