<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>VHA-Uber Health Connect Initiative</title>

  <meta name="robots" content="noindex,nofollow">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>

  <body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header.html" %}
      
        <main>
          {% include "home/page-title.html" %}
          {% include "home/our-mission.html" %}
          {% include "home/announcements-events.html" %}
          {% include "home/initiative-sites.html" %}
          {% include "home/program-eligibility.html" %}
          {% include "home/program-requirements.html" %}
          {% include "home/program-benefits.html" %}
          {% include "home/publications.html" %}
          {% include "home/multimedia.html" %}
          {% include "home/our-team.html" %}
        </main>

        {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="assets/js/vendors/owl-carousel/owl.carousel.min.js"></script> 
    <script src="assets/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="assets/js/functions.js"></script>

  </body>
</html>