.initiative-sites-locations {
    .visn {
        &-2 {
            color: #70AC45;
        }

        &-4 {
            color: #C02026;
        }        

        &-7 {
            color: #1E4A7D;
        }        

        &-8 {
            color: #7F7F7F;
        }        

        &-9 {
            color: #EF4C90;
        }        

        &-15 {
            color: #92278F;
        }        

        &-16 {
            color: #8164A3;
        }        

        &-17 {
            color: #F89746;
        }        

        &-20 {
            color: #11B259;
        }        

        &-21 {
            color: #00AEE6;
        }        

        &-22 {
            color: #FBBE14;
        }        

    }
}