@use "uswds-core" as *;

.mission-statement {
    position: relative;

    &__content {
        position: relative;
        z-index: 10;
    }

    &__img {
        position: relative;

        &-container {
            position: relative;
            z-index: 10;
        }    
    }

    &__logo-stroke {
        position: absolute;
        z-index: 1;
        height: 70%;
        width: 70%;

        &.logo-stroke-1 {
            top: -50px;
            left: -20px;
        }

        &.logo-stroke-2 {
            top: -10px;
            left: -50px;
        } 
    }    


    @include at-media(mobile) {
        &__logo-stroke { 
            height: 70%;
            width: 70%;

            &.logo-stroke-1 {
                top: -30px;
                left: -20px;
            }

            &.logo-stroke-2 {
                top: -20px;
                left: -50px;
            }            
        }        
    }

    @include at-media(mobile-lg) {
        &__logo-stroke { 
            height: 70%;
            width: 70%;

            &.logo-stroke-1 {
                top: -50px;
                left: -20px;
            }

            &.logo-stroke-2 {
                top: -10px;
                left: -50px;
            }            
        }        
    }    

    @include at-media(tablet-lg) {
        &__logo-stroke { 
            height: 400px;
            width: 430px;

            &.logo-stroke-1 {
                top: -60px;
                left: -30px;
            }

            &.logo-stroke-2 {
                top: -30px;
                left: -70px;
            }            
        }        
    }

    @include at-media(desktop) {
        &__logo-stroke { 
            height: 480px;
            width: 510px;

            &.logo-stroke-1 {
                top: -80px;
                left: -50px;
            }

            &.logo-stroke-2 {
                top: -30px;
                left: -80px;
            }            
        }
    }
  
    @include at-media(desktop-lg) {
        &__logo-stroke { 
            height: 570px;
            width: 566px;

            &.logo-stroke-1 {
                top: -80px;
                left: -10px;
            }

            &.logo-stroke-2 {
                top: -30px;
                left: -80px;
            }            
        }
    }
    
    
}