<!-- Announcements and Events - START -->
<section id="announcements-events" class="announcements-events">
    <div class="grid-container primary-background--light radius-lg">
        <div class="grid-row grid-gap flex-align-center mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
            <div class="mobile:grid-col-12 tablet:grid-col-8 tablet-lg:grid-col-9 desktop-lg:grid-col-5 desktop-lg:grid-offset-2">
                <h1>Initiative Announcements and Events</h1>
                <ul class="line-height-sans-4">
                    <li>The VUHC Initiative will expand to additional VA Medical Centers in 2024</li>
                    <li>Join the VUHC National Team at the 2024 American College of Healthcare Executives Congress from 25 - 28 March 2024</li>
                </ul>
                <a href="assets/documents/VHA-Uber-Health-Connect-Initiative-FAQ.pdf"class="usa-button button-vha" title="Read the VUHC Initiative FAQ">View and Download Brochure</a>
            </div>
            <div class="tablet:grid-col-4 tablet-lg:grid-col-3 desktop:grid-col-3 mobile:display-none tablet:display-block">
                <a href="assets/documents/VHA-Uber-Health-Connect-Initiative-FAQ.pdf" title="Read the VUHC Initiative FAQ"><img data-src="assets/img/announcements-and-events-book.png" class="img-fluid lazy" alt="Cover of the VUHC Initiative FAQ" /></a>
            </div>
        </div>
    </div>
</section>
<!-- Announcements and Events - END -->
