<!-- INITIATIVE SITES - START -->
<section id="initiative-sites" class="initiative-sites mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15 margin-bottom-3">
    <div class="grid-container primary-background--gradient radius-lg">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-white text-center tablet:padding-top-5 tablet-padding-bottom-4">
                <h2>Current VHA-Uber Health Connect Initiative Sites</h2>
            </div>
            <div class="tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <div class="usa-card initiative-sites__card">
                    <div class="usa-card__container border-0 shadow-4 margin-bottom-neg-15">
                        <img data-src="assets/img/map.png" class="img-fluid lazy" alt="Map of USA with markers of site locations" />
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>    
<!-- INITIATIVE SITES - END -->

<section class="initiative-sites-locations padding-top-3">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
                <span class="initiative-sites-locations__category visn-2 text-bold">VISN 2</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/new-jersey-health-care/locations/east-orange-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">East Orange VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/northport-health-care/locations/northport-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Northport VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/bronx-health-care/locations/james-j-peters-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Bronx HCS</a></li>
                    <li><a href="https://www.va.gov/new-york-harbor-health-care/" class="usa-link usa-link--external" rel="noreferrer">New York Harbor VA Medical Center </a></li>
                    <li><a href="https://www.va.gov/syracuse-health-care/locations/syracuse-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Syracuse VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/hudson-valley-health-care/" class="usa-link usa-link--external" rel="noreferrer">Hudson Valley VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/albany-health-care/locations/samuel-s-stratton-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Albany VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/western-new-york-health-care/locations/buffalo-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Buffalo VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/finger-lakes-health-care/locations/canandaigua-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Canandaigua VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/finger-lakes-health-care/locations/bath-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Bath VA Medical Center</a></li>
                </ul>
                <span class="initiative-sites-locations__category visn-4 text-bold">VISN 4</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/pittsburgh-health-care/" class="usa-link usa-link--external" rel="noreferrer">Pittsburgh VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/butler-health-care/locations/abie-abraham-va-clinic/" class="usa-link usa-link--external" rel="noreferrer">Butler VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/coatesville-health-care/locations/coatesville-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Coatesville VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/philadelphia-health-care/locations/corporal-michael-j-crescenz-department-of-veterans-affairs/" class="usa-link usa-link--external" rel="noreferrer">Philadelphia VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/erie-health-care/locations/erie-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Erie VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/altoona-health-care/locations/james-e-van-zandt-veterans-administration-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Altoona VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/lebanon-health-care/locations/lebanon-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Lebanon VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/wilkes-barre-health-care/locations/wilkes-barre-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Wilkes-Barre VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/wilmington-health-care/locations/wilmington-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Wilmington VA Medical Center</a></li>
                </ul>
                
                <span class="initiative-sites-locations__category visn-7 text-bold">VISN 7</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/atlanta-health-care/locations/joseph-maxwell-cleland-atlanta-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Atlanta VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/dublin-health-care/locations/carl-vinson-veterans-administration-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Dublin VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/augusta-health-care/locations/charlie-norwood-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Augusta VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/tuscaloosa-health-care/locations/tuscaloosa-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Tuscaloosa VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/central-alabama-health-care/locations/central-alabama-va-medical-center-montgomery/" class="usa-link usa-link--external" rel="noreferrer">Montgomery VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/columbia-south-carolina-health-care/locations/wm-jennings-bryan-dorn-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Columbia SC VA Medical Center</a></li>
                </ul>
            </div>
            <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
                <span class="initiative-sites-locations__category visn-8 text-bold">VISN 8</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/tampa-health-care/locations/james-a-haley-veterans-hospital/" class="usa-link usa-link--external" rel="noreferrer">Tampa VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/north-florida-health-care/locations/malcom-randall-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Gainesville VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/orlando-health-care/locations/orlando-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Orlando VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/miami-health-care/locations/bruce-w-carter-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Miami VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/west-palm-beach-health-care/locations/west-palm-beach-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">West Palm Beach VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/bay-pines-health-care/locations/cw-bill-young-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Bay Pines VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/caribbean-health-care/locations/san-juan-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">San Juan VA Medical Center</a></li>
                </ul>
                <span class="initiative-sites-locations__category visn-9 text-bold">VISN 9</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/louisville-health-care/locations/robley-rex-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Louisville VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/lexington-health-care/" class="usa-link usa-link--external" rel="noreferrer">Lexington VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/mountain-home-health-care/locations/james-h-quillen-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Mountain Home TN VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/tennessee-valley-health-care/locations/nashville-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Nashville VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/memphis-health-care/locations/lt-col-luke-weathers-jr-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Memphis VA Medical Center</a></li>
                </ul>
                
                <span class="initiative-sites-locations__category visn-15 text-bold">VISN 15</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/wichita-health-care/locations/robert-j-dole-department-of-veterans-affairs-medical-and-regional-office-center/" class="usa-link usa-link--external" rel="noreferrer">Wichita VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/kansas-city-health-care/locations/kansas-city-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Kansas City VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/eastern-kansas-health-care/locations/colmery-oneil-veterans-administration-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Topeka KS VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/columbia-missouri-health-care/locations/harry-s-truman-memorial-veterans-hospital/" class="usa-link usa-link--external" rel="noreferrer">Columbia MO VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/st-louis-health-care/locations/st-louis-va-medical-center-jefferson-barracks/" class="usa-link usa-link--external" rel="noreferrer">St. Louis VA Medical Center</a></li>
                </ul>

                <span class="initiative-sites-locations__category visn-16 text-bold">VISN 16</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/fayetteville-coastal-health-care/locations/fayetteville-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Fayetteville VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/alexandria-health-care/locations/alexandria-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Alexandria VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/gulf-coast-health-care/locations/biloxi-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Biloxi VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/houston-health-care/locations/michael-e-debakey-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Houston VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/jackson-health-care/locations/gv-sonny-montgomery-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Jackson VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/shreveport-health-care/locations/overton-brooks-veterans-administration-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Shreveport VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/central-arkansas-health-care/locations/john-l-mcclellan-memorial-veterans-hospital/" class="usa-link usa-link--external" rel="noreferrer">Little Rock VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/southeast-louisiana-health-care/locations/new-orleans-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">New Orleans VA Medical Center</a></li>
                </ul>
            </div>
            <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
                <span class="initiative-sites-locations__category visn-17 text-bold">VISN 17</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/west-texas-health-care/locations/george-h-obrien-jr-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Big Spring VA Medical Center </a></li>
                    <li><a href="https://www.va.gov/north-texas-health-care/locations/dallas-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Dallas VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/texas-valley-health-care/locations/harlingen-va-clinic/" class="usa-link usa-link--external" rel="noreferrer">Harlingen VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/el-paso-health-care/locations/el-paso-va-clinic/" class="usa-link usa-link--external" rel="noreferrer">El Paso VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/amarillo-health-care/locations/thomas-e-creek-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Amarillo VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/central-texas-health-care/locations/olin-e-teague-veterans-center/" class="usa-link usa-link--external" rel="noreferrer">Temple VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/south-texas-health-care/locations/audie-l-murphy-memorial-veterans-hospital/" class="usa-link usa-link--external" rel="noreferrer">San Antonio VA Medical Center</a></li>
                </ul>

                <span class="initiative-sites-locations__category visn-20 text-bold">VISN 20</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/portland-health-care/locations/portland-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Portland VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/spokane-health-care/locations/mann-grandstaff-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Spokane VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/roseburg-health-care/locations/roseburg-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Roseburg VA Medical Center</a></li>
                </ul>

                <span class="initiative-sites-locations__category visn-21 text-bold">VISN 21</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/pacific-islands-health-care/locations/spark-m-matsunaga-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Honolulu VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/sierra-nevada-health-care/locations/ioannis-a-lougaris-veterans-administration-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Reno VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/central-california-health-care/locations/fresno-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Fresno VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/northern-california-health-care/locations/sacramento-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Sacramento VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/southern-nevada-health-care/locations/north-las-vegas-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">North Las Vegas VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/san-francisco-health-care/locations/san-francisco-va-medical-center/" class="usa-link usa-link--external" rel="noreferrer">San Francisco VA Medical Center</a></li>
                </ul>
                
                <span class="initiative-sites-locations__category visn-22 text-bold">VISN 22</span>
                <ul class="line-height-sans-4">
                    <li><a href="https://www.va.gov/phoenix-health-care/locations/carl-t-hayden-veterans-administration-medical-center/" class="usa-link usa-link--external" rel="noreferrer">Phoenix VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/loma-linda-health-care/locations/jerry-l-pettis-memorial-veterans-hospital/" class="usa-link usa-link--external" rel="noreferrer">Loma Linda VA Medical Center</a></li>
                    <li><a href="https://www.va.gov/san-diego-health-care/locations/jennifer-moreno-department-of-veterans-affairs-medical-center/" class="usa-link usa-link--external" rel="noreferrer">San Diego VA Medical Center</a></li>                  
                </ul>
            </div>
        </div>
        <div class="grid-row grid-gap margin-top-2">
            <div class="grid-col-12">
                <div class="font-sans-3xs">
                    <strong>VA Assisted Ridership Policy and Disclaimer</strong>
                    <ol class="line-height-sans-4">
                        <li>VA Assisted Rideshare services under Beneficiary Travel (BT) program are limited to Veterans who meet BT eligibility criteria as authorized under 38 Code of Federal Regulations, Part 70, Subpart A.</li>
                        <li>VA Assisted Rideshare services are not guarantee and its approval is subject, but not limited to, rider's inability to drive personal owned vehicle (POV) due to medical condition, physical limitations, access to public transportation, or local Veterans Transportation Services (VTS) availability.</li>
                        <li>VA Assisted Rideshare providers' fleet availability is limited in some rural areas. </li>
                        <li>All VA Assisted rideshare services requests are evaluated for approval and process by the local VA Medical Center Beneficiary Travel program office.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="grid-row grid-gap margin-top-2">
            <div class="grid-col-12 text-center text-primary">
                <h2>Click your facility above to find contact information.<br />
                     For more information, call your facility and request to speak to your local facility's travel team.</h2>
            </div>
        </div>        
    </div> 
</section>