<!-- MULTIMEDIA - START -->
<section id="multimedia" class="multimedia mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15 bg-primary text-white">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h1 class="margin-top-0">Multimedia</h1>
            </div>
        </div>
        <div class="grid-row grid-gap text-center">
            <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
                <div class="usa-card ">
                    <div class="usa-card__container shadow-3">
                        <div class="usa-card__header">
                            <h2 class="h4">Veterans Corner<br />Radio Podcast</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <a href="https://www.iheart.com/podcast/269-veterans-corner-radio-60540453/episode/if-you-are-elligible-for-travel-116538865/">
                                    <img data-src="assets/img/media-veterans-corner-radio-podcast.png" class="img-fluid radius-lg lazy" alt="Seals from every USA military branch" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
                <div class="usa-card">
                    <div class="usa-card__container shadow-3">
                        <div class="usa-card__header">
                            <h2 class="h4">iEX 2022: Transportation as a Social Determinant of Health</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <a href="https://www.youtube.com/watch?v=3CeAcsOVsTA" class="vha-video__play vha-video__play-action stretched-link">
                                    <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                                        <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                                    </svg>
                                    <img data-src="assets/img/media-iex2022-transportation.jpg" class="img-fluid radius-lg lazy" alt="Man presenting on state at iEX 2022" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col-4">
                <div class="usa-card">
                    <div class="usa-card__container shadow-3">
                        <div class="usa-card__header">
                            <h2 class="h4">VA Uber Health Connect<br />VISN 8 Roadshow</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <a href="https://www.flickr.com/photos/vainnovation/albums/72177720308295566/with/52900844639/">
                                    <img data-src="assets/img/media-va-uber-health-connect-visn8-roadshow.png" class="img-fluid radius-lg lazy" alt="Flickr logo" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="grid-row grid-gap text-center">
            <div class="grid-col-12 tablet:grid-offset-4 desktop:grid-offset-4 tablet:grid-col-4 desktop:grid-col-4">
                <div class="usa-card ">
                    <div class="usa-card__container shadow-3">
                        <div class="usa-card__header">
                            <h2 class="h4">VHA-Uber Health<br />Connect Initiative</h2>
                        </div>
                        <div class="usa-card__media usa-card__media--inset">
                            <div class="usa-card__img">
                                <a href="https://www.youtube.com/watch?v=0MJrHNHYF64" class="vha-video__play vha-video__play-action stretched-link">
                                    <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                                        <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                                    </svg>
                                    <img data-src="assets/img/media-vha-uber-health-connect-initiative.jpg" class="img-fluid radius-lg lazy" alt="Photo of Indra Sandal speaking with Timothy J. Cooke" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- OUR TEAM - END -->