<!-- OUR TEAM - START -->
    <section id="our-team" class="our-team mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container z-index-10 position-relative">
           <div class="grid-row grid-gap">
             <div class="grid-col-12 text-center">
                <h1 class="margin-top-0">Our Team</h1>
             </div>
          </div>
          <div class="grid-row grid-gap text-center flex-align-top flex-justify-center tablet:margin-bottom-9">
            <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
               <div class="our-team__item">
                 <div class="our-team__item-img">
                     <img data-src="assets/img/team-indra-sandal.png" alt="Indra Sandal - National Lead, VUHC Initiative Chief of Innovation, Tampa VAMC" class="lazy" />
                  </div>
                  <h2 class="margin-bottom-0 h3">Indra Sandal</h2>
                  <h3 class="margin-top-0 text-base-dark h4">National Lead, VUHC Initiative Chief of Innovation, Tampa VAMC</h3>
               </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
               <div class="our-team__item">
                 <div class="our-team__item-img">
                     <img data-src="assets/img/team-ben-williams.png" alt="Ben Williams - Co-Lead, VUHC Initiative Director, VTP" class="lazy" />
                  </div>
                  <h2 class="margin-bottom-0 h3">Ben Williams</h2>
                  <h3 class="margin-top-0 text-base-dark h4">Co-Lead, VUHC Initiative Director, VTP</h3>
               </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
               <div class="our-team__item">
                 <div class="our-team__item-img">
                     <img data-src="assets/img/team-kristopher-teague.png" alt="Kristopher Teague - Executive Director, VHA Innovation Ecosystem" class="lazy" />
                  </div>
                  <h2 class="margin-bottom-0 h3">Kristopher Teague</h2>
                  <h3 class="margin-top-0 text-base-dark h4">Executive Director, VHA Innovation Ecosystem</h3>
               </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
               <div class="our-team__item">
                 <div class="our-team__item-img">
                     <img data-src="assets/img/team-garth-miller.png" alt="Garth Miller - Executive Director Member Services" class="lazy" />
                  </div>
                  <h2 class="margin-bottom-0 h3">Garth Miller</h2>
                  <h3 class="margin-top-0 text-base-dark h4">Executive Director Member Services</h3>
               </div>
            </div>        
          </div>
          <div class="grid-row grid-gap text-center flex-align-top flex-justify-center">
            <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
               <div class="our-team__item">
                 <div class="our-team__item-img">
                     <img data-src="assets/img/team-greg-goins.png" alt="Greg Goins - VISN 9 Network Director" class="lazy" />
                  </div>
                  <h2 class="margin-bottom-0 h3">Greg Goins</h2>
                  <h3 class="margin-top-0 text-base-dark h4">VISN 9<br />
                     Network Director</h3>
               </div>
            </div> 
            <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
               <div class="our-team__item">
                 <div class="our-team__item-img">
                     <img data-src="assets/img/team-anthony-stazzone.png" alt="Anthony Stazzone - VISN 9 Chief Medical Officer" class="lazy" />
                  </div>
                  <h2 class="margin-bottom-0 h3">Anthony Stazzone</h2>
                  <h3 class="margin-top-0 text-base-dark h4">VISN 9<br />Chief Medical Officer</h3>
               </div>
            </div> 
            <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
               <div class="our-team__item">
                 <div class="our-team__item-img">
                     <img data-src="assets/img/team-david-dunning.png" alt="David Dunning - Executive Director, Tampa VAMC" class="lazy" />
                  </div>
                  <h2 class="margin-bottom-0 h3">David Dunning</h2>
                  <h3 class="margin-top-0 text-base-dark h4">Executive Director, Tampa VAMC</h3>
               </div>
            </div>             
          </div>
        </div>
       </div>
     </section>
     <!-- OUR TEAM - END -->