<!-- DOE Team - START -->
    <section id="our-team" class="our-team mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container z-index-10 position-relative">
           <div class="grid-row grid-gap">
             <div class="grid-col-12 text-center">
                <h1 class="margin-top-0">Our Team</h1>
             </div>
          </div>
          <div class="grid-row grid-gap text-center flex-align-top flex-justify-center">
             <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
                <div class="our-team__item">
                   <div class="our-team__item-img">
                      <img src="assets/img/home/team-henderson.png" alt="Blake Henderson - Diffusion of Excellence Director" />
                   </div>
                   <h3>Blake Henderson</h3>
                   <h4>Diffusion of Excellence Director</h4>
                </div>
             </div>
             <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
                <div class="our-team__item">
                   <div class="our-team__item-img">
                    <img src="assets/img/home/team-goetschius.png" alt="Amber Goetschius, MEd - Diffusion Specialist" />
                   </div>
                   <h3>Amber Goetschius, MEd</h3>
                   <h4>Diffusion Specialist</h4>
                </div>
             </div>
             <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
                <div class="our-team__item">
                   <div class="our-team__item-img">
                        <img src="assets/img/home/team-fitzgerald.png" alt="Blaine Fitzgerald, MPH - Diffusion Specialist" />
                   </div>
                   <h3>Blaine Fitzgerald, MPH</h3>
                   <h4>Diffusion Specialist</h4>
                </div>
             </div>
             <div class="grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
                <div class="our-team__item">
                   <div class="our-team__item-img">
                        <img src="assets/img/home/team-fitzgerald.png" alt="Blaine Fitzgerald, MPH - Diffusion Specialist" />
                   </div>
                   <h3>Blaine Fitzgerald, MPH</h3>
                   <h4>Diffusion Specialist</h4>
                </div>
             </div>             
          </div>
          <div class="grid-row grid-gap text-center flex-align-top flex-justify-center">
             <div class="mobile:grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
                <div class="our-team__item our-team__long-title">
                   <div class="our-team__item-img">
                        <img src="assets/img/home/team-mccoy.png" alt="Carl R. McCoy, MHRD, Sr. FAC PPM, FAC-COR III - Diffusion Specialist" />
                   </div>
                   <h3>Carl R. McCoy, MHRD, Sr. FAC PPM, FAC-COR III</h3>
                   <h4>Diffusion Specialist</h4>
                </div>
             </div>
             <div class="mobile:grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
                <div class="our-team__item">
                   <div class="our-team__item-img">
                        <img src="assets/img/home/team-hagan.png" alt="Danielle Hagan, MSA - Diffusion Specialist" />
                   </div>
                   <h3>Danielle Hagan, MSA</h3>
                   <h4>Diffusion Specialist</h4>
                </div>
             </div>
             <div class="mobile:grid-col-12 tablet:grid-col-3 desktop:grid-col-3">
                <div class="our-team__item">
                   <div class="our-team__item-img">
                        <img src="assets/img/home/team-hagan.png" alt="Danielle Hagan, MSA - Diffusion Specialist" />
                   </div>
                   <h3>Danielle Hagan, MSA</h3>
                   <h4>Diffusion Specialist</h4>
                </div>
             </div>             
          </div>
        </div>
       </div>
     </section>
     <!-- DOE Team - END -->