<!-- PAGE TITLE - START -->
<section id="page-title" class="page-title mobile:padding-y-4 tablet:padding-y-8 desktop-lg:padding-top-8 text-white">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-row flex-align-center">
            <div class="tablet-lg:grid-col-5 desktop:grid-col-4 page-title__logo">
                <img src="../assets/img/logo.png" alt="VHA-Uber Health Connect Initiative logo image" width="322" height="111" />
            </div>
            <div class="tablet-lg:grid-col-7 desktop:grid-col-8 page-title__content">
                <h1 class="tablet-lg:margin-0">VHA-Uber Health Connect Initiative</h1>
                <span class="intro">Expanding Health Care Access for Veterans</span>
            </div>
        </div>
    </div>      
</section>    
<!-- PAGE TITLE - END -->