<!-- PROGRAM ELIGIBILITY - START -->
<section id="program-eligibility" class="program-eligibility mobile:padding-top-8 tablet:padding-top-10 desktop-lg:padding-top-15">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center mobile:margin-bottom-6 tablet-lg:margin-bottom-8">
            <div class="tablet-lg:grid-col-7 widescreen:grid-col-4 widescreen:grid-offset-1 program-eligibility__content position-relative mobile:margin-bottom-4 tablet:margin-bottom-0">            
                <h2>Program Eligibility</h2>
                <p>Veterans must be beneficiary travel (BT) eligible to receive Uber Health rides.</p>
                <p>BT eligibility criteria:</p>
                <ul class="line-height-sans-4">
                    <li>Service connected (SC) rating of 30 percent or more, or</li>
                    <li>Traveling to / from treatment of an SC condition, or</li>
                    <li>Receive VA pension, or</li>
                    <li>Income does not exceed the maximum annual VA pension rate</li>
                </ul>
                <div class="program-eligibility__svg-container">
                    <svg viewBox="0 0 308 172" fill="none" preserveAspectRatio="xMidYMax meet"><path d="M1 43c28.99-1.99 72.9 51.344 108.9 63.414s23.47-.73 42.18-33.42c18.71-32.69 37.73-52.3 48.32-60.58 10.59-8.28 2.3-17-11.6-6.8-13.9 10.2-33.72 24.36-60.6 61.4-13.54-8.38-17.39-12.91-27.6-13.6-10.21-.69-6.55 7.28-2.3 11.7 4.25 4.42 19.17 21.72 28 38.3 8.83 16.58 32.55 5.03 37.34 4.18 4.79-.85 34.15-7.4 75.56 6.62 41.41 14.02 68.3 57.286 68.3 57.286" stroke="url(#a)" stroke-miterlimit="10" stroke-linecap="round"/><defs><linearGradient id="a" x1="27" y1="39.5" x2="295" y2="172" gradientUnits="userSpaceOnUse"><stop stop-color="#fff"/><stop offset=".203" stop-color="#3559A5"/><stop offset=".823" stop-color="#3559A5"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
                </div>
            </div>
            <div class="tablet-lg:grid-col-5 widescreen:grid-col-5 widescreen:grid-offset-1 program-eligibility__img">
                <img data-src="assets/img/program-eligibility.png" class="img-fluid radius-lg lazy" alt="Physician assisting a military veteran in an office" />           
            </div>
        </div> 
    </div>
</section>       
<!-- PROGRAM ELIGIBILITY - END -->