<section id="publications" class="publications mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15 bg-base-lightest">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-row">
            <div class="tablet-lg:grid-col-4 desktop:grid-col-3 usa-card_header">
                <h1 class="tablet-lg:margin-0">Publications</h2>
                <p class="intro">Stay up-to-date with the latest VUHC Initiative news and communications.</p>
            </div>
            <div class="tablet-lg:grid-col-8 desktop:grid-col-9 usa-card_body">
                <div id="publications-carousel" class="owl-carousel usa-card-group">
                    <div class="usa-card">
                        <a href="https://news.va.gov/122430/vha-uber-health-connect-veterans-transportation/" class="usa-card__container usa-card__link shadow-3">
                            <div class="usa-card__header">
                                <h2 class="h4">VHA-Uber Health Connect expands Veterans' access to transportation</h2>
                            </div>
                            <div class="usa-card__body">
                                <p>Program aims to eliminate transportation as a barrier to Veteran health care</p>
                            </div>
                        </a>
                    </div>

                    <div class="usa-card">
                        <a href="https://www.va.gov/lebanon-health-care/news-releases/lebanon-vamc-offers-new-transportation-program-for-medical-care-to-local-patients/" class="usa-card__container usa-card__link shadow-3">
                            <div class="usa-card__header">
                                <h2 class="h4">Lebanon VAMC offers new transportation program for medical care to local patients</h2>
                            </div>
                            <div class="usa-card__body">
                                <p>Based on survey feedback from 2,300 Veterans between March 2022 to January 2023, 83% of Veterans stated they would not have been able to access their medical care without the program.</p>
                            </div>
                        </a>
                    </div>


                    <div class="usa-card">
                        <a href="https://www.wptv.com/news/region-c-palm-beach-county/west-palm-beach/new-uber-and-va-partnership-gives-free-rides" class="usa-card__container usa-card__link shadow-3">
                            <div class="usa-card__header">
                                <h2 class="h4">New Uber and VA partnership gives free rides</h2>
                            </div>
                            <div class="usa-card__body">
                                <p>A new partnership between Uber and the VA Medical Centers around the country is being used by local veterans here in South Florida.</p>
                            </div>
                        </a>
                    </div>

                    <div class="usa-card">
                        <a href="https://www.41nbc.com/free-uber-health-connect-service-boosts-veterans-access-to-healthcare-in-dublin/" class="usa-card__container usa-card__link shadow-3">
                            <div class="usa-card__header">
                                <h2 class="h4">Free Uber Health Connect Service boosts veterans' access to healthcare in Dublin</h2>
                            </div>
                            <div class="usa-card__body">
                                <p>Dublin's Carl Vinson VA Medical Center is enhancing healthcare accessibility for veterans by offering the free Uber Health Connect Service, aiming to reduce missed appointments and improve consistent care.</p>
                            </div>
                        </a>
                    </div>                    
                </div>
                <div>
                    <button type="button" class="usa-button vhaPrevBtn vha-button vha-button--pubs-carousel margin-right-3" aria-label="previous">
                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="assets/uswds/img/sprite.svg#arrow_back"></use>
                        </svg>                    
                    </button>
                    <button type="button" class="usa-button vhaNextBtn vha-button vha-button--pubs-carousel" aria-label="next">
                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="assets/uswds/img/sprite.svg#arrow_forward"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>  